.Person{
    width: 60%;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    margin: auto;
    padding: 16px;
    text-align: center;
}
@media (min-width:500px)
{
    .Person{
        width:400px;
    }
}